{
  "presets": [["es2015", { "modules": false }], "react"],

  // use absolute paths: import App from '/components/App'
  // instead of relative: import App from '.components/App'
  "plugins": [
    ["babel-root-slash-import", {"rootPathSuffix": "src/"}]
  ]
}
